[alias]
	rpull = pull --rebase --stat
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
	name = Steven Washington
  email = <e@mail.com>
